{% extends "layouts/base-presentation.html" %}

{% block content %}
<div class="container mt-5">
  <div class="card shadow-lg border-0 rounded-lg">
    <div class="card-header bg-gradient-info text-white">
      <h1>{{ dish_type_detail.name }}</h1>
    </div>
    <div class="card-body">
      <h2>Dishes in this Type</h2>

      {% if dish_type_detail.dish_set.all %}
        <table class="table table-striped">
          <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Price</th>
              <th>Dish type</th>
              <th>Cooker</th>
            </tr>
          </thead>
          <tbody>
          {% for dish in dish_type_detail.dish_set.all %}
            <tr>
              <td>{{ dish.id }}</td>
              <td><a href="{% url 'catalog:dish-detail' pk=dish.id %}">{{ dish.name }}</a></td>
              <td>{{ dish.price }}</td>
              <td>{{ dish.dish_type }}</td>
              <td>
                {% for cook in dish.cooks.all %}
                  {{ cook.username }}
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No dishes available for this type.</p>
      {% endif %}

      <a href="{% url 'catalog:dish_type-list' %}" class="btn bg-gradient-primary text-white">Back to Dish Type List</a>
    </div>
  </div>
</div>
{% endblock %}

