{% extends "layouts/base-presentation.html" %}

{% block content %}
<div class="container mt-5">
  <div class="card shadow-lg border-0 rounded-lg">
    <div class="card-header bg-gradient-danger text-white">
      <h1>Delete Dish Type</h1>
    </div>
    <div class="card-body">
      <p>Are you sure you want to delete the dish type: <strong>{{ dish_type.name }}</strong>?</p>
      <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn bg-gradient-danger text-white">Yes, delete</button>
        <a href="{% url 'catalog:dish_type-list' %}" class="btn bg-gradient-secondary">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}

